---Klausimai ir atsakymai---
Paaiškink skirtumą tarp duomenų, informacijos ir žinių (labai trumpai, esmė)
> Duomenys - yra faktai
> Informacija - apdoroti duomenys su kontekstu
> Žinios - gebėjimas spręsti problemas remiantis informacija

Koks yra prižiūrimo ir neprižiūrimo mokymosi skirtumas ir kokius uždavinius jie sprendžia?
> prižiūrimas – mokymas su žinomomis išvestimis, sprendžia klasifikavimo ir prognozavimo uždavinius
> neprižiūrimas – mokymas be išvesčių, ieško struktūros (klasterizavimas)

Koks yra perceptrono mokymo tikslas ir ką reiškia minimizuoti E(W) funkciją
> tikslas – rasti svorius, kad modelio išėjimas būtų kuo artimesnis tikrosioms reikšmėms
> minimizuoti E(W) reiškia mažinti skirtumą tarp t_i ir y_i visiems duomenims


-- DI samprata ir Turingo testas --

> DI yra siekis imituoti žmogaus intelektą, naudojant simbolių manipuliaciją ir struktūrizuotas žinių bazes, kad sistema galėtų spręsti uždavinius panašiai kaip žmogus
> DI apima gebėjimus mokytis, samprotauti, priimti sprendimus ir prisitaikyti prie naujų situacijų
> Turingo testas yra kai žmogus kalba su žmogumi ir mašina nežinodamas, kuris yra kuris
> Vertintojas turi nuspręsti kuri yra mašina, remdamasis tik atsakymais ir dialogu
> Jei mašinos neįmanoma patikimai atskirti nuo žmogaus, laikoma, kad ji demonstruoja intelektą



-- MM plius sąsajos --
> ML/MM yra metodai leidžiantys sistemoms mokytis iš pavyzdžių ar duomenų be aiškaus programavimo
> Sistema pati nustato ryšius tarp įvesties ir išvesties duomenų


--- DI vs ML ---
> ML yra DI poaibis, o DI yra platesnė sąvoka apimanti loginį samprotavimą, paiešką ir žinių atvaizdavimą
> ML orientuotas į duomenis, modelių mokymą ir prognozavimą pagal duomenis
> Skaitmeninis intelektas (SI) orientuotas į gamtos įkvėptus metodus, tokius kaip neuroniniai tinklai ar evoliuciniai algoritmai



-- ML iššūkiai --
> Nepakankamas duomenų kiekis, todėl modeliai negali tinkamai išmokti bendrų dėsningumų
> Mokymosi duomenys nėra reprezentatyvūs ir neatspindi realios situacijos
> Blogos kokybės duomenys, tokie kaip klaidos, triukšmas, išskirtys ar trūkstami įrašai, blogina modelio tikslumą
> Netinkami duomenų požymiai, todėl būtinas tinkamas požymių atrinkimas arba naujų sukūrimas
> Modelio permokymas, kai modelis per gerai prisitaiko prie mokymo duomenų, bet prastai veikia su naujais duomenimis



-- ML mokymo strategijos --
> Supervised / prižiūrimas – mokymas su pažymėtais duomenimis, kai žinomi teisingi atsakymai ir mokoma atkurti ryšį tarp įvesties ir išvesties
> Unsupervised / neprižiūrimas – mokymas be atsakymų, kai ieškoma paslėptų struktūrų ar dėsningumų duomenyse
> Semi-supervised / dalinai prižiūrimas – naudojama mažai pažymėtų ir daug nepažymėtų duomenų, siekiant pagerinti mokymą
> Sustiprintas / reinforcement – mokymas per veiksmus ir atlygį arba bausmes, siekiant maksimalios ilgalaikės naudos



-- Duomenų analizės tikslas. Duomenys, informacija, žinios --
> Duomenų analizė – procesas, kurio metu iš pradinių duomenų gaunama naudinga informacija ir žinios, reikalingos sprendimų priėmimui
> Duomenys – objektyvūs faktai, vaizdai, garsai ar skaitinės reikšmės, apibūdinančios objektus
> Informacija – apdoroti duomenys su kontekstu, kurie tampa prasmingi ir naudingi sprendimų priėmimui
> Žinios – gebėjimas spręsti problemas, remiantis sukaupta patirtimi, interpretacija ir supratimu



-- Duomenų tyryba žinių radimo procese (KDD) --
> Išrenkami analizuojami reikalingi duomenys iš bendros duomenų aibės
> Atliekamas pradinis duomenų apdorojimas, pašalinant klaidas ir paruošiant duomenis
> Duomenys transformuojami į tinkamą formą, kad būtų suderinami su analizės metodais
> Taikomi įvairūs analizės metodai, siekiant rasti dėsningumus ir ryšius
> Rezultatai interpretuojami, vertinami ir gaunamos naujos žinios



-- Duomenų pradinis apdorojimas --
> Valymas – klaidų, triukšmo, trūkstamų reikšmių ir netikslumų šalinimas
> Filtravimas – netinkamų ar išskirtinių duomenų pašalinimas pagal nustatytas taisykles
> Požymių atrinkimas – svarbiausių požymių pasirinkimas, mažinant duomenų dimensiją
> Normavimas – reikšmių suvienodinimas į bendrą intervalą [0;1], kad požymiai būtų palyginami
> Standartizavimas – duomenų transformavimas taip, kad vidurkis būtų 0, o dispersija 1



-- Pagrindiniai duomenų analizės uždaviniai --
> Klasifikavimas – duomenų objektų priskyrimas iš anksto apibrėžtoms klasėms
> Atpažinimas – žinomų objektų identifikavimas pagal turimus požymius ir žinias
> Prognozavimas – būsimų reikšmių ar tendencijų numatymas pagal turimus duomenis
> Klasterizavimas – duomenų grupavimas į klasterius pagal jų tarpusavio panašumą



-- Perceptronas --
> Perceptronas arba vienasluoksnis neuronas yra modelis, kuriam į įėjimą paduodami duomenys su požymiais x_n, o išėjime gaunama klasės reikšmė
> Tikslas rasti svorių reikšmes w_n tokias, kad apskaičiavus sumą visų x_i * w_i gautos reikšmės sutaptų su duomenų klasių reikšmėmis visiems duomenims
> Galimybė mokytis yra esmė intelekto, todėl svorių paieška vadinama neurono mokymu
> Mokymo procese svoriai keičiami taip, kad išėjimo reikšmė y_i būtų kuo arčiau norimos reikšmės t_i ir paklaida būtų minimali

> Paklaida skaičiuojama
E(W) = suma nuo i= 1 iki m (t_i - y_i)^2

> Dažnai naudojama patogesnė forma
E(W) = 1/2 * suma nuo i = 1 iki m (t_i - y_i)^2

> Mokymo tikslas yra minimizuoti paklaidos funkciją E(W), naudojant optimizavimo metodus
> Jei funkcija diferencijuojama, minimumas randamas naudojant gradientinio nusileidimo metodą

> GD formulė bendra
x_i+1 = x_i - gamma (grad f(x))

> GD Tipai
> Paketinis – svoriai atnaujinami naudojant visus duomenis vienu metu, kartą per epochą
w_k = w_k - eta (grad E(W))

> Stochastinis – svoriai atnaujinami po kiekvieno duomens, naudojant aproksimuotą gradientą
> Mažų paketų GD – svoriai atnaujinami naudojant mažas duomenų dalis, sudarant kompromisą tarp greičio ir stabilumo




-- Aktyvacijos funkcijos --
> Aktyvacijos funkcija paverčia įėjimų sumą į neurono išėjimą
> Ji leidžia modeliui suprasti sudėtingus (netiesinius) ryšius
> Be jos modelis būtų tik paprastas tiesinis
> Slenkstinė – duoda 0 arba 1
> Sigmoidinė – duoda reikšmes tarp 0 ir 1
> Tiesinė – išėjimas tiesiog proporcingas įėjimui


-- Klasių skiriamasis paviršius --
> Tai riba, kuri atskiria skirtingas klases
> Perceptronas gali sudaryti tik tiesinę ribą
> Jei duomenys nėra tiesiškai atskiriami, jis neveiks
> Mokymo metu riba keičiama per svorius, kad geriau atskirtų klases


-- Iteracija ir epocha --
> Iteracija – vienas svorių atnaujinimas
> Epocha – visas duomenų rinkinys pereinamas vieną kartą
> Vienoje epochoje būna daug iteracijų
> Daug epochų pagerina mokymą, bet gali sukelti permokymą


-- Klasifikavimo matrica ir tikslumo matai --
> Matrica parodo tikras ir prognozuotas klases
> Leidžia matyti, kur modelis klysta
> Accuracy – kiek visko teisinga
> Precision – kiek teisingų tarp teigiamų
> Recall – kiek teigiamų rasta iš visų tikrų
> Naudojama modelio kokybei įvertinti


-- Kryžminė patikra --
> Duomenys padalinami į kelias dalis
> Modelis mokomas ir testuojamas kelis kartus
> Kiekvieną kartą naudojamos skirtingos dalys
> Taip gaunamas patikimesnis rezultatas


-- SOM (saviorganizuojantys neuroniniai tinklai) --
> Mokosi be mokytojo
> Naudojami grupavimui ir vizualizavimui
> Panašūs duomenys atsiduria arti vieni kitų
> Išlaikoma duomenų struktūra
> Tinklas yra 2D neuronų tinklelis
> Kiekvienas neuronas turi svorių vektorių
> Mokymo metu svoriai koreguojami
> Pradžioje jie nustatomi atsitiktinai


-- Neuroninių tinklų tipai --
> Tiesioginio sklidimo – signalas eina viena kryptimi
> Rekursiniai – turi grįžtamą ryšį
> SOM – mokosi be mokytojo ir randa struktūrą


-- Daugiasluoksnis perceptronas (MLP) --
> Tinklas su keliais sluoksniais
> Įėjimo, paslėpti ir išėjimo sluoksniai
> Paslėpti sluoksniai leidžia mokytis sudėtingų ryšių
> Daugiau sluoksnių – daugiau galimybių modeliuoti


-- Backpropagation algoritmas --
> Pirmiausia apskaičiuojamas išėjimas
> Tada skaičiuojama klaida
> Klaida siunčiama atgal per tinklą
> Svoriai keičiami, kad klaida mažėtų


-- Svorių atnaujinimas neuroniniuose tinkluose --
> Paskutiniame sluoksnyje svoriai keičiami pagal klaidą
> Didesnė klaida – didesnis pokytis
> Paslėptuose sluoksniuose naudojama klaida iš kitų sluoksnių
> Naudojama grandinės taisyklė


-- Klasifikavimas vs prognozavimas --
> Klasifikavimas – priskiriama klasei
> Išėjimas yra kategorija
> Prognozavimas – spėjama skaitinė reikšmė
> Išėjimas yra skaičius


-- Regresija --
> Metodas skaičiams prognozuoti
> Suranda ryšį tarp įėjimo ir išėjimo
> Tikslas – kuo mažesnė paklaida


-- Neuroniniai tinklai prognozavimui --
> Naudojami skaičiams prognozuoti
> Išėjime gaunamas skaičius
> Mokoma mažinti skirtumą tarp prognozės ir tikros reikšmės


-- Klasterizavimas --
> Duomenys grupuojami pagal panašumą
> Panašūs – kartu, skirtingi – atskirai
> Klasteris – panašių objektų grupė
> Panašumas dažnai matuojamas atstumu
> Klasės iš anksto nežinomos


-- K-vidurkių metodas --
> Duomenys dalinami į k grupių
> Kiekviena grupė turi savo centrą
> Taškai priskiriami artimiausiam centrui
> Centrai nuolat atnaujinami
> Procesas kartojamas, kol stabilizuojasi